<p id="notice"><%= notice %></p>

<h1>User</h1>

<p>
  <%= @user.display_name %>
</p>

<p>
  <strong>Email</strong>
  <%= @user.email %>

  <br>

  <strong>First</strong>
  <%= @user.firstname %>

  <br>

  <strong>Last</strong>
  <%= @user.lastname %>

  <br>

  <strong>Phone</strong>
  <%= @user.phone %>

  <br>

  <strong>DOB</strong>
  <%= @user.dob %>

  <br>

  <strong>Status</strong>
  <%= @user.status.humanize %>
</p>

<%= link_to 'Edit', edit_user_registration_path(@user) %> |
<%= link_to 'Back', users_path %>
