<%= form_with(model: [series, game], local: true) do |form| %>
  <% if game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
      <% game.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :series_id, value: series.id %>

  <p>
    <strong>Series:</strong>
    <%= series.display_name %>
  </p>

  <div class="field">
    <%= form.label :name %><br />
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :start %><br />
    <%= form.date_field :start %>
  </div>

  <div class="field">
    <%= form.collection_select :status, Game.statuses.keys, :to_s, :humanize, prompt: true %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
