<p id="notice"><%= notice %></p>

<h1>Team Events</h1>

<table>
  <thead>
    <tr>
      <th>Team</th>
      <th>Event</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @team_events.each do |team_event| %>
      <tr>
        <td><%= team_event.team %></td>
        <td><%= team_event.event %></td>
        <td><%= link_to 'Show', team_event %></td>
        <td><%= link_to 'Edit', edit_team_event_path(team_event) %></td>
        <td><%= link_to 'Destroy', team_event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Team Event', new_team_event_path %>
