<p id="notice"><%= notice %></p>

<h1>TeamEvent</h1>

<p>
  <strong>Team:</strong>
  <%= @team_event.team %>
</p>

<p>
  <strong>Event:</strong>
  <%= @team_event.event %>
</p>

<%= link_to 'Edit', edit_team_event_path(@team_event) %> |
<%= link_to 'Back', team_events_path %>
