<%= form_with(model: [squad, squad_member], local: true) do |form| %>
  <% if squad_member.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(squad_member.errors.count, "error") %> prohibited this squad_member from being saved:</h2>

      <ul>
      <% squad_member.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :squad_id, value: squad.id %>

  <p>
    <strong>Squad:</strong>
    <%= squad.display_name %>
  </p>

  <% if squad_member.persisted? %>
    <p>
      <strong>User:</strong>
      <%= squad_member.user.display_name %>
    </p>
    <div class="field">
      <%= form.collection_select :status, SquadMember.statuses.keys, :to_s, :humanize, prompt: true %>
    </div>
  <% else %>
    <div class="field">
      <%= form.collection_select :user_id, users, :id, :display_name, prompt: true %>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
