<p id="notice"><%= notice %></p>

<h1>Squads</h1>

<p>
  <%= link_to 'New Squad', new_squad_path %>
</p>

<h4>List</h4>

<table>
  <tbody>
    <% @squads.each do |squad| %>
      <tr>
        <td><%= squad.display_name %></td>
        <td><%= link_to 'Show', squad %></td>
        <td><%= link_to 'Edit', edit_squad_path(squad) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
