<p id="notice"><%= notice %></p>

<h1>Squad</h1>

<p>
  <%= @squad.display_name %>
</p>

<p>
  <strong>Name</strong>
  <%= @squad.name %>

  <br>

  <strong>Status</strong>
  <%= @squad.status.humanize %>
</p>

<p>
  <%= link_to 'Edit', edit_squad_path(@squad) %> |
  <%= link_to 'Back to Squads', squads_path %>
</p>

<h2>Squad Members</h2>

<p>
  <%= link_to 'New Squad member', new_squad_squad_member_path(@squad) %>
</p>

<h4>Active</h4>

<table>
  <tbody>
    <% @squad.squad_members.active.each do |squad_member| %>
      <tr>
        <td><%= squad_member.display_name %></td>
        <td><%= link_to 'Show', [@squad, squad_member] %></td>
        <td><%= link_to 'Edit', [:edit, @squad, squad_member] %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h4>Inactive</h4>

<table>
  <tbody>
    <% @squad.squad_members.inactive.each do |squad_member| %>
      <tr>
        <td><%= squad_member.display_name %></td>
        <td><%= link_to 'Show', [@squad, squad_member] %></td>
        <td><%= link_to 'Edit', [:edit, @squad, squad_member] %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h2>Series</h2>

<p>
  <%= link_to 'New Series', new_squad_series_path(@squad) %>
</p>

<h4>Active</h4>

<table>
  <tbody>
    <% @squad.series.active.each do |series| %>
      <tr>
        <td><%= series.display_name %></td>
        <td><%= link_to 'Show', [@squad, series] %></td>
        <td><%= link_to 'Edit', [:edit, @squad, series] %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h4>Inactive</h4>

<table>
  <tbody>
    <% @squad.series.inactive.each do |series| %>
      <tr>
        <td><%= series.display_name %></td>
        <td><%= link_to 'Show', [@squad, series] %></td>
        <td><%= link_to 'Edit', [:edit, @squad, series] %></td>
      </tr>
    <% end %>
  </tbody>
</table>
